/* ------------ colors ------------- */
/* ------------ basic setup ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

section {
  padding: 80px 5%;
}

.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

/* ------------ fonts ------------- */
@font-face {
  font-family: AvenirNext;
  src: url("../font/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: AvenirNext;
  font-style: italic;
  src: url("../font/AvenirNextLTPro-It.otf") format("opentype");
}

@font-face {
  font-family: AvenirNext;
  font-weight: bold;
  src: url("../font/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
  font-family: AvenirNext;
  font-weight: bold;
  font-style: italic;
  src: url("../font/AvenirNextLTPro-DemiIt.otf") format("opentype");
}

@font-face {
  font-family: AvenirNext;
  font-weight: 500;
  src: url("../font/AvenirNextLTPro-Bold.otf") format("opentype");
}

body {
  background: white;
  font-family: AvenirNext, sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 1.8em;
}

h2 {
  font-size: 40px;
  padding: 10px 0;
}

h3 {
  font-size: 30px;
  padding: 10px 0;
}

/* ------------ buttons ------------- */
a {
  text-decoration: none;
  color: #4292B8;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #375C73;
  transition: 0.3s color ease-out;
}

#sluzby a {
  font-weight: 500;
}

.btn {
  display: inline-block;
  width: 175px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  color: #2D2C2A;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  text-decoration: none;
  color: #2D2C2A;
}

.btn-uvod {
  background: linear-gradient(#FEDC62, #FBB533);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
}

.btn-uvod:hover {
  box-shadow: 0px 0px 8px 0px #FBB533;
  transition: 0.3s box-shadow ease-out;
}

.btn-ghost {
  border: 2px solid #2D2C2A;
  padding-top: 10px;
}

.btn-ghost:hover {
  background: #2D2C2A;
  color: #EAEAEA;
  transition: .3s all ease;
}

.btn-ghost-light {
  border: 1px solid #FEB41C;
  color: #FEB41C;
  padding-top: 10px;
  font-weight: normal;
}

.btn-ghost-light:hover {
  background: #FEB41C;
  color: #2D2C2A;
  font-weight: bold;
  transition: .3s all ease;
}

/* ------------ nav ------------- */
nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: rgba(0, 0, 0, 0.33);
  font-size: 24px;
  text-align: center;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  line-height: 90px;
  height: 90px;
  padding: 5px 30px;
  text-decoration: none;
  color: #EAEAEA;
  font-weight: normal;
}

nav a:hover {
  color: #FEB41C;
  text-decoration: none;
  transition: .5s color ease-out;
}

nav a.active {
  color: #FEB41C;
  transition: .5s color ease-out;
}

.nav-logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
  padding-top: 12px;
  text-align: left;
}

.nav-logo img {
  height: 60px;
  padding-right: 7px;
  opacity: 0;
}

.nav-logo h1 {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: normal;
}

.nav-logo h1 span {
  font-size: 24px;
  font-style: italic;
}

.nav-fix {
  position: fixed;
  top: 0;
  background-color: #2D2C2A;
  transition: .5s background-color ease-out;
}

.nav-fix img {
  display: inline-block;
  opacity: 100;
  transition: 1s opacity ease-out;
}

#nav-menu {
  margin-top: -7px;
  float: right;
  margin-right: 10px;
  display: none;
}

/* ------------ HEADER ------------- */
#uvod {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #2D2C2A;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1) 60%), url("../images/foto-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 60%;
}

.title {
  margin: 15vh 0 0 10vh;
  width: 360px;
  text-align: center;
  vertical-align: middle;
}

.title img {
  width: 75px;
}

.title h2 {
  color: #EAEAEA;
  font-size: 26px;
  font-style: italic;
  padding: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ------------ SLUZBY ------------- */
#sluzby {
  background-image: linear-gradient(to left, #FFF9EF, rgba(255, 249, 239, 0.95) 75%, rgba(255, 249, 239, 0.8)), url("../images/bg-sluzby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sluzby-nav,
#sluzby-uvod,
#sluzby-web,
#sluzby-strategie {
  max-width: 550px;
  margin: 0 auto;
}

.sluzby-nav a,
#sluzby-web,
#sluzby-strategie {
  display: none;
}

/* ------------ SLUZBY-STYLE ------------- */
#sluzby-uvod p,
#sluzby-web p,
#sluzby-strategie p {
  padding-bottom: 25px;
}

#sluzby h2 {
  padding-bottom: 0;
}

.sluzby-nav {
  padding-bottom: 20px;
}

.sluzby-nav a {
  padding-right: 20px;
}

#sluzby-uvod span {
  font-size: 24px;
}

.sluzby-nav a.active2 {
  font-size: 24px;
}

/* ------------ reference ------------- */
#reference {
  background: #FEE8C6;
}

#reference h2 {
  padding-bottom: 60px;
  text-align: center;
  line-height: 1.5em;
}

.ref-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px 0 50px 0;
}

.ref-box img {
  width: 50%;
}

.ref-popis {
  width: 320px;
  margin-left: 3%;
}

.ref-popis h3 {
  padding-bottom: 0;
}

.ref-popis p:first-of-type {
  margin-top: -5px;
  font-size: 20px;
  padding-bottom: 15px;
}

.ref-popis p:last-of-type {
  padding-bottom: 20px;
}

.ref-current p {
  margin-top: -5px;
  font-size: 20px;
  padding-bottom: 15px;
}

.ref-text {
  font-style: italic;
}

.ref-podpis {
  font-weight: bold;
}

/* ------------ PORTFOLIO-DETAIL ------------- */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2D2C2A;
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.showcase {
  height: 100vh;
  overflow: auto;
  padding: 80px 5% 0 5%;
  margin: 0 auto;
  color: #EAEAEA;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showcase .btn {
  margin: 30px 0;
}

.showcase-text {
  margin-left: 3%;
  width: 350px;
}

.showcase-text > p {
  padding-bottom: 40px;
}

.showcase-text h4 {
  padding-bottom: 10px;
  font-size: 24px;
}

.showcase-text ul {
  list-style: none;
  line-height: 2.5em;
}

.showcase-text ul img {
  padding-right: 10px;
  margin-bottom: -2px;
}

.showcase-headline {
  padding-bottom: 20px;
}

.showcase-headline h3 {
  padding: 0;
}

.showcase-headline h3 img {
  margin-bottom: 0.5em;
  padding-right: 15px;
}

.showcase-headline p {
  font-size: 24px;
}

.showcase-headline a {
  color: #FEB41C;
}

.showcase-headline a:hover {
  text-decoration: none;
}

.showcase-images {
  width: 50%;
}

.showcase-images img {
  width: 100%;
  padding-bottom: 10px;
}

.showcase-images img:last-of-type {
  margin-bottom: 30px;
}

/* ------------ RESENI ------------- */
#reseni h2 {
  text-align: center;
  padding-bottom: 60px;
}

.reseni-table {
  margin: 0 auto;
  border-spacing: 0;
  width: 100%;
  max-width: 1000px;
}

.reseni-table div:first-of-type {
  max-width: 450px;
}

.reseni-table th, .reseni-table td {
  padding: 5px 0 5px 0;
  text-align: center;
  vertical-align: middle;
}

.reseni-table th {
  font-size: 20px;
}

.reseni-table th:last-of-type {
  padding-bottom: 0;
}

.reseni-table td {
  width: 150px;
}

.reseni-table td:first-of-type {
  text-align: left;
  width: 300px;
  padding-left: 5px;
}

.reseni-table td > img {
  margin-top: 5px;
  margin-bottom: -5px;
}

.reseni-table td:nth-of-type(1),
.reseni-table td:nth-of-type(2),
.reseni-table td:nth-of-type(3) {
  border-right: 1px solid rgba(45, 44, 42, 0.3);
}

.reseni-table tr:nth-of-type(1) > th,
.reseni-table tr:nth-of-type(3) > td,
.reseni-table tr:nth-of-type(5) > td,
.reseni-table tr:nth-of-type(8) > td {
  border-bottom: 1px solid rgba(45, 44, 42, 0.3);
}

.reseni-table th:first-of-type {
  text-align: left;
  padding-left: 5px;
  padding-bottom: 15px;
  vertical-align: bottom;
}

.reseni-sluzby {
  display: none;
}

.reseni-sluzby p {
  padding-bottom: 10px;
}

.reseni-table td:first-of-type img {
  height: 2em;
  padding-right: 5px;
}

.reseni-table tr:nth-child(4) > td:first-of-type,
.reseni-table tr:nth-child(5) > td:first-of-type {
  background-color: #FFF9EF;
}

.reseni-table tr:nth-child(6) > td:first-of-type,
.reseni-table tr:nth-child(7) > td:first-of-type,
.reseni-table tr:nth-child(8) > td:first-of-type {
  background-color: #FEE8C6;
}

.reseni-mobile {
  display: none;
}

.reseni-table h2 {
  display: none;
}

/* ------------ KONTAKT ------------- */
#kontakt {
  background-color: #FFD08A;
  text-align: center;
}

#kontakt h2 {
  font-style: italic;
}

.kontakty {
  list-style: none;
  padding: 20px 0;
}

.kontakty li {
  padding: 15px 0;
  font-size: 24px;
}

.kontakty img {
  width: 50px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.break-mobile {
  display: none;
}

/* ------------ FOOTER ------------- */
footer {
  background-color: #2D2C2A;
  color: #EAEAEA;
  text-align: center;
  padding: 80px 5%;
}

footer img {
  width: 80px;
  padding-bottom: 30px;
}

.mobile-nav {
  display: none;
  list-style: none;
  font-size: 20px;
  padding-bottom: 60px;
}

.mobile-nav li {
  padding: 10px 0;
}

.mobile-nav li a {
  color: #EAEAEA;
  font-weight: normal;
}

.mobile-nav li a:hover {
  color: #FEB41C;
  text-decoration: none;
  transition: .5s color ease-out;
}

footer p:first-of-type {
  padding-bottom: 10px;
  font-size: 30px;
}
